.dragdrop {
  width: 50rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
  background-color: #d3d3d3;
}

.dragdrop:hover {
  cursor: pointer;
}

.dragdrop_content {
  display: flex;
  justify-content: center;
}
