# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.idea/
.vscode/

# Sphinx
docs/_build/
docs/_static/
docs/_templates/
docs/*.rst
!docs/index.rst

# Our project stuff
test/
sample_data/
data/
!data/*.py
results/
content/
questions.json

# Mac metadata
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints/


# Files to ignore for react
# dependencies
web_app/node_modules
web_app/.pnp
web_app.pnp.js

# testing
web_app/coverage

# production
web_app/build

# misc
web_app/.DS_Store
web_app/.env.local
web_app/.env.development.local
web_app/.env.test.local
web_app/.env.production.local

web_app/npm-debug.log*
web_app/yarn-debug.log*
web_app/yarn-error.log*

web_app/.gitignore