.body {
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem 0 5rem;
}

.upload-section {
  display: flex;
  flex-direction: row;
}

.generate-section {
  padding: 2rem 0 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.config-section {
  padding: 0 0 3rem 0;

  .similarity-slider {
    width: 50rem;
  }

  #title {
    font-size: 1.5rem;
  }
}

.generate-question-btn {
  margin: 0 0 2rem 0;
}
