.body {
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem 0 5rem;
}

.upload-section {
  display: flex;
  flex-direction: row;
}

.generate-section {
  display: flex;
  height: 200px;

  align-items: center;
  justify-content: center;
  flex-direction: column;
}
