h2 {
  font-size: 1.5rem;
  text-decoration: underline;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem 0 5rem;
}

.upload-container {
  display: flex;
  flex-direction: column;

  .video-table-container {
    display: flex;
    flex-direction: row;
  }
}

.generate-container {
  padding: 5rem 0 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .generate-question-btn {
    width: 15rem;
    height: 4rem;

    font-size: 1rem;

    border-radius: 0.5rem;

    .setting-icon {
      margin-right: 0.5rem;
    }
  }
}

.config-container {
  padding: 0 0 1rem 0;

  .similarity-slider {
    width: 50rem;
  }

  #title {
    font-size: 0.9rem;
    font-weight: 700;
  }
}
